img {
    height: auto;
    width: 400;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #41B3A3;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

h1 {
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}

a:link {
    color: black;
}
  
a:visited {
    color: blue;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}

.list {
    background-color: #c38d9e
}

h3 {
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 28px;
    text-align: center;
}

.description {
    background-color: #c38d9e;
}

.ingredients {
    background-color: #e8a87c;
}

.directions {
    background-color: #90dcf5;
}